# Python
venv/
__pycache__/
*.pyc

# Notebook
.ipynb_checkpoints/

# Models & data
models/*.pkl
data/

# OS / IDE
.DS_Store
*.log

# Environment
.env

# Streamlit cache
.streamlit/

# VS Code
.vscode/
